
@media(min-width:500px) {
    .grilla,
    .grilla3 {
        display: grid;
    }

    header img {
        width: 15%;
        height: 75%;
        margin-left: 4%;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-top: -2em;
        color: aliceblue;
    }

    .ventaflex,
    .masvendido,
    .tienda-productos {
        justify-content: space-around;
        background-color:#f8e3b7;
        color: rgb(13, 13, 14);
    }

    .ABORDE,
    .sets {
        border: 5px solid rgb(15, 10, 10);
        font-size: 25px;
    }

    .subti h2,
    .subti2 h2 {
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: crimson;
    }
    input{
        background-color: crimson;
    }
}

@media (min-width:768px){

    .grilla,
    .grilla3 {
        display: grid;
    }

    header img {
        width: 10%;
        height: 80%;
    }

    .ventaflex,
    .masvendido{
        background-color: aliceblue;
        color: rgb(10, 10, 10);
        font-size: 30px;
        display: flex;
        width: 100%;
    }

  /*  .grilla3 {
        gap: 5px;
    } */

    .tienda-productos {
        width: 100%;
        color: rgb(10, 10, 10);
        display: flex;
        flex-wrap: wrap;
        background-color: aliceblue;
        flex-direction: row;
        .sets {
            width: 30%;
            display: flex;
            flex-direction: column;
        }
    }

    .ABORDE,
    .sets,
    .subtitulo {
        border: 5px solid #0BA385;
    }

    input {
        background-color: black;
    }

    .subtitulo h2 {
        color: blueviolet;
    }
}

@media (min-width: 1024px) {
    .ABORDE,
    .sets,
    .subtitulo {
        border: 5px solid #cc1158;
    }
    input{
        background-color: #0BA385;
    }
    .ABORDE:hover,.sets:hover{
        border-color: #0BA385;
    }
}