@import "media";
@import "generales";
@import "productos";

h1 {
    font-size: 0px;
}

.masvendido {
    grid-area: productos;
}

.fotosindex {
    margin: 10px 0px;
}

.ventaflex,
.masvendido {
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    padding: 5px;
    font-size: 20px;
}

.ABORDE {
    display: flex;
    border: 5px solid rgb(214, 214, 212);
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    font-size: 20px;
    align-items: center;
}

.ABORDE:hover {
    border-color: crimson;
}

.sets:hover {
    border-color: crimson;
}

.masvendido img {
    width: 100%;
}

.promocion {
    grid-area: ofertas;
}

.fotosindex {
    grid-area: carrusel;
}

.subti {
    grid-area: masvendido;
    margin-top: 50px;

    h2 {
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}

.subti2 {
    grid-area: promos;
    margin-top: 30px;

    h2 {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
}

.grilla {
    display: grid;
    grid-template-areas:
        "header"
        "nav "
        "carrusel"
        "masvendido"
        "productos "
        "promos "
        "ofertas"
        "footer ";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 0.5fr 2fr 0.5fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
}

.promocion img {
    width: 100%;
}

.subtitulo {
    border: 10px solid rgb(199, 148, 124);
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;

    p {
        display: block;
        margin: 10px;
    }
}

.grilla2 {
    display: grid;
    grid-template-areas:
        "header  "
        " nav"
        "contacto"
        "enviar"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1.5fr 0.5fr 1fr;
    width: 100%;
    height: 100vh;
}

.enviar {
    grid-area: enviar;
    display: flex;
    flex-direction: column;

    input {
        background-color: #0BA385;
        border-radius: 10px;
        margin: 3% 45%;
    }
}

.contacto {
    grid-area: contacto;
    width: 40%;
    margin: 5% 30%;

    input {
        margin: 0;
    }
}

.grilla3 {
    display: grid;
    grid-template-areas:
        "header "
        "nav "
        "producto"
        "footer ";
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
}
.grilla4 {
    display: grid;
    grid-template-areas:
        "header "
        "nav "
        "pasos "
        "footer ";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    width: 100%;
    height: 100vh;
}

.pasos {
    grid-area: pasos
}

.grilla5 {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "dudas"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1.5fr 1fr;
    width: 100%;
}

.dudas {
    grid-area: dudas;
    height: 300px;
}

.icon {
    width: 35px;
}

.ICON2 {
    width: 5%;
}

   